In [1]:
#importaciones de las librerias
import pandas as pd
import numpy as np
import sklearn 
import matplotlib.pyplot as plt
import mlxtend as mx
from typing import Dict, Tuple
from sklearn.base import BaseEstimator

In [2]:
data=pd.read_csv("titanic.csv")#Leemos el fichero csv
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
data=data[['Survived','SibSp','Parch','Pclass']]#Escogemos los datos que se nos piden
data.info() #Podemos ver que no hay datos que son null

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   SibSp     891 non-null    int64
 2   Parch     891 non-null    int64
 3   Pclass    891 non-null    int64
dtypes: int64(4)
memory usage: 28.0 KB

In [4]:
val=(data.values)

In [5]:
labels=data.columns
labels=pd.Series(data=labels)

In [6]:
data

     Survived  SibSp  Parch  Pclass
0           0      1      0       3
1           1      1      0       1
2           1      0      0       3
3           1      1      0       1
4           0      0      0       3
..        ...    ...    ...     ...
886         0      0      0       2
887         1      0      0       1
888         0      1      2       3
889         1      0      0       1
890         0      0      0       3

[891 rows x 4 columns]

In [7]:
test=data.tail(5)
test

     Survived  SibSp  Parch  Pclass
886         0      0      0       2
887         1      0      0       1
888         0      1      2       3
889         1      0      0       1
890         0      0      0       3

In [8]:
data.drop(data.tail(5).index,inplace=True)
data

/Users/roig/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

     Survived  SibSp  Parch  Pclass
0           0      1      0       3
1           1      1      0       1
2           1      0      0       3
3           1      1      0       1
4           0      0      0       3
..        ...    ...    ...     ...
881         0      0      0       3
882         0      0      0       3
883         0      0      0       2
884         0      0      0       3
885         0      0      5       3

[886 rows x 4 columns]

In [9]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
import scikitplot as skplt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import KFold
from sklearn.metrics import confusion_matrix
from sklearn import tree
from sklearn.metrics import roc_curve, auc
from sklearn.tree import _tree

In [10]:
#Creamos los datos con de entrenamiento y el test
x=data.drop(["Survived"],axis=1)
y=data["Survived"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
x

     SibSp  Parch  Pclass
0        1      0       3
1        1      0       1
2        0      0       3
3        1      0       1
4        0      0       3
..     ...    ...     ...
881      0      0       3
882      0      0       3
883      0      0       2
884      0      0       3
885      0      5       3

[886 rows x 3 columns]

In [11]:
#Utilizamos kfold
k_fold = KFold(n_splits=5, shuffle=True, random_state=0)

## Crea un clasificador en el que uses al menos dos criterios de división distintos. Calcula el error en cada uno de ellos y elige el qué mejor clasifique.

In [ ]:
def confusion_matrix_model(model_used):
    cm=confusion_matrix(y_test,model_used.predict(x_test))
    col=["Predicted Dead","Predicted Survived"]
    cm=pd.DataFrame(cm)
    cm.columns=["Predicted Dead","Predicted Survived"]
    cm.index=["Actual Dead","Actual Survived"]
    cm[col]=np.around(cm[col].div(cm[col].sum(axis=1),axis=0),decimals=2)
    return cm

In [ ]:
#Calculamos la precision del modelo
def acc_score(model):
    return np.mean(cross_val_score(model,x_train,y_train,cv=k_fold,scoring="accuracy"))

In [ ]:
def aucscore(model,has_proba):
    if has_proba:
        fpr,tpr,thresh=skplt.metrics.roc_curve(y_test,model.predict_proba(x_test)[:,1])
    else:
        fpr,tpr,thresh=skplt.metrics.roc_curve(y_test,model.decision_function(x_test))
    x=fpr
    y=tpr
    auc= skplt.metrics.auc(x,y)
    return auc

In [ ]:
Dec_tree=DecisionTreeClassifier(max_depth=4,random_state=5)
Dec_tree.fit(x_train,y_train)

print("Accuracy: " + str(acc_score(Dec_tree)))
print("AUC: " + str(aucscore(Dec_tree,has_proba=True)))
confusion_matrix_model(Dec_tree)

## Dibuja el modelo elegido en el punto anterior.

In [ ]:
def plt_roc_curve(name,model,has_proba=True):
    if has_proba:
        fpr,tpr,thresh=skplt.metrics.roc_curve(y_test,model.predict_proba(x_test)[:,1])
    else:
        fpr,tpr,thresh=skplt.metrics.roc_curve(y_test,model.decision_function(x_test))
    x=fpr
    y=tpr
    auc= skplt.metrics.auc(x,y)
    plt.plot(x,y,label='ROC curve for %s (AUC = %0.2f)' % (name, auc))
    plt.plot([0, 1], [0, 1], 'k--')
    plt.xlim((0,1))
    plt.ylim((0,1))
    plt.xlabel("False Positive Rate")
    plt.ylabel("True Positive Rate")
    plt.title("ROC Curve")
    plt.legend(loc="lower right")
    plt.show()

In [ ]:
plt_roc_curve("Decision Tree",Dec_tree,has_proba=True) #dibuja modelo

## Selecciona tres reglas que sean las que generalicen lo menos posible y otras tres que especialicen lo menos posible. Interprétalas.

In [ ]:
#Calcular la importancia de las distintas variables
def importance_of_features(model):
    features = pd.DataFrame()
    features['feature'] = x_train.columns
    features['importance'] = model.feature_importances_
    features.sort_values(by=['importance'], ascending=True, inplace=True)
    features.set_index('feature', inplace=True)
    return features.plot(kind='barh', figsize=(10,10))

In [ ]:
importance_of_features(Dec_tree)#Reglas

In [ ]:
#Para obtener las reglas utilizamos los headers del entrenamiento
#La probabilidad de que ocurra se calcula dividiendo el numero mayor de casos entre el numero de casos totales
caract=list(x.columns)
text_representation = tree.export_text(Dec_tree, feature_names=caract,show_weights=True)
print(text_representation)

-----------------------------BORRARRRRR------------------------

In [ ]:
def get_rules(tree, feature_names, class_names):
    tree_ = tree.tree_
    feature_name = [
        feature_names[i] if i != _tree.TREE_UNDEFINED else "undefined!"
        for i in tree_.feature
    ]

    paths = []
    path = []
    
    def recurse(node, path, paths):
        
        if tree_.feature[node] != _tree.TREE_UNDEFINED:
            name = feature_name[node]
            threshold = tree_.threshold[node]
            p1, p2 = list(path), list(path)
            p1 += [f"({name} <= {np.round(threshold, 3)})"]
            recurse(tree_.children_left[node], p1, paths)
            p2 += [f"({name} > {np.round(threshold, 3)})"]
            recurse(tree_.children_right[node], p2, paths)
        else:
            path += [(tree_.value[node], tree_.n_node_samples[node])]
            paths += [path]
            
    recurse(0, path, paths)

    # sort by samples count
    samples_count = [p[-1][1] for p in paths]
    ii = list(np.argsort(samples_count))
    paths = [paths[i] for i in reversed(ii)]
    
    rules = []
    for path in paths:
        rule = "if "
        
        for p in path[:-1]:
            if rule != "if ":
                rule += " and "
            rule += str(p)
        rule += " then "
        if class_names is None:
            rule += "response: "+str(np.round(path[-1][0][0][0],3))
        else:
            classes = path[-1][0][0]
            l = np.argmax(classes)
            rule += f"class: {class_names[l]} (proba: {np.round(100.0*classes[l]/np.sum(classes),2)}%)"
        rule += f" | based on {path[-1][1]:,} samples"
        rules += [rule]
        
    return rules

In [ ]:
rules = get_rules(Dec_tree, caract, 'Survived')
for r in rules:
    print(r)

Podemos ver que estas reglas generalizan poco dado que estan muy especializadas:
if (Pclass <= 2.5) and (Parch <= 0.5) and (Pclass > 1.5) and (SibSp > 2.5) then class: u (proba: 100.0%) | based on 1 samples
En el caso de que PClass sea 2 y Parch sea 0 y sibsp sea 3
if (Pclass > 2.5) and (SibSp > 2.5) and (Parch > 1.5) and (SibSp <= 4.5) then class: S (proba: 75.0%) | based on 8 samples
if (Pclass <= 2.5) and (Parch > 0.5) and (Parch > 3.5) then class: S (proba: 100.0%) | based on 1 samples

Podemos ver que estas reglas generalizan mucho dado que estan poco especializadas:
if (Pclass > 2.5) and (SibSp <= 2.5) and (Parch <= 0.5) and (SibSp <= 0.5) then class: S (proba: 77.34%) | based on 256 samples
if (Pclass <= 2.5) and (Parch <= 0.5) and (Pclass > 1.5) and (SibSp <= 2.5) then class: S (proba: 64.55%) | based on 110 samples
if (Pclass <= 2.5) and (Parch <= 0.5) and (Pclass <= 1.5) and (SibSp <= 0.5) then class: u (proba: 52.33%) | based on 86 samples

-----------------------------INTERPRETARRRRR-----------------

## Usa tu clasificador para clasificar a 5 pasajeros que no se hayan usado en los pasos anteriores. Dichos pasajeros deberán presentar diferentes situaciones (sobrevivieron o no)

In [ ]:
#Test clasificar 5 pasajeros
x_test=test.drop(["Survived"],axis=1)
y_test=test["Survived"]

In [ ]:
def confusion_matrix_test(model_used,x_test):
    cm=confusion_matrix(y_test,model_used.predict(x_test))
    col=["Predicted Dead","Predicted Survived"]
    cm=pd.DataFrame(cm)
    cm.columns=["Predicted Dead","Predicted Survived"]
    cm.index=["Actual Dead","Actual Survived"]
    cm[col]=np.around(cm[col].div(cm[col].sum(axis=1),axis=0),decimals=2)
    return cm

In [ ]:
confusion_matrix_test(Dec_tree,x_test)