In [1]:
#importaciones de las librerias
import pandas as pd
import numpy as np
import sklearn as sl
import matplotlib.pyplot as pl
import mlxtend as mx

In [2]:
data=pd.read_csv("coches.csv")#Leemos el fichero csv
data

     age  gender  miles   debt  income  sales
0     28       0     23      0    4099    620
1     26       0     27      0    2677   1792
2     30       1     58  41576    6215  27754
3     26       1     25  43172    7626  28256
4     20       1     17   6979    8071   4438
..   ...     ...    ...    ...     ...    ...
958   22       0     11   8778    9829   1593
959   19       1     23   4850    3470   4742
960   28       1     28   9312    2720  12771
961   50       0     29  51343    8713  28511
962   47       1     15   3735    6406   6104

[963 rows x 6 columns]